.navigation {
    height: 100%;
    width: 250px;
    background-color: #2c1c17;
}

.options {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.5em;
    border-bottom: 0.08em solid white;
    color: #a58b2b;
    fill: white;
    padding-right: 1em;
}

.option:hover {
    font-weight: bold;
}

.option.is-active {
    background-color: #005D8F;
}



